__pycache__/

# Pyinstaller
build/
dist/
*.spec

# Nuitka
*.onefile-build
*.build
*.dist
*.exe

.idea/
.vscode/
venv/
.env

*.html
cache*
spiders/
data/
.VSCodeCounter/
test*
*.db
tempCodeRunnerFile.py
font*
GUI.py
main.py
map.json
